<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.journal.mapper.JournalMapper">

	<!-- 전체조회 -->
	<select id="selectJournalList" resultType="map" parameterType="int">
		SELECT j.journal_no journalNo, j.title title, left(j.content, 20) content
				, j.update_date updateDate, j.create_date createDate
				, f.file_no fileNo, f.file_name fileName
				, m.member_id memberId, m.name name
		FROM journal j
		INNER JOIN journal_file f 
			ON j.journal_no = f.journal_no
		INNER JOIN member m 
			ON j.member_id = m.member_id
		<where>
			<if test="searchWord != null">
				j.title LIKE CONCAT('%',#{searchWord},'%')
			</if>
		</where>
		ORDER BY j.update_date DESC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	
	<!-- 내가 작성한 저널 조회 -->
	<select id="selectMyJournalList" resultType="map" parameterType="int">
		SELECT j.journal_no journalNo, j.title title, j.content content
				, j.update_date updateDate, j.create_date createDate
				, f.file_no fileNo, f.file_name fileName
				, m.member_id memberId, m.name name
		FROM journal j
		INNER JOIN journal_file f 
			ON j.journal_no = f.journal_no
		INNER JOIN member m 
			ON j.member_id = m.member_id
		<where>
			<if test="searchWord != null">
				AND j.title LIKE CONCAT('%',#{searchWord},'%')
			</if>
			<if test="searchType != null and searchType != 'all' and searchType != ''">
				AND j.type = #{searchType}
			</if>
				AND j.member_id = #{memberId}
		</where>
		ORDER BY j.update_date DESC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	
	<!-- 페이징용 총 개수 -->
	<select id="selectJournalTotalCnt" resultType="int" parameterType="String">
		SELECT COUNT(*) cnt
		FROM journal j
		INNER JOIN journal_file f 
			ON j.journal_no = f.journal_no
		INNER JOIN member m 
			ON j.member_id = m.member_id
		<where>
			<if test="searchWord != null">
				AND j.title LIKE CONCAT('%',#{searchWord},'%')
			</if>
			<if test="searchType != null and searchType != ''">
				AND j.type = #{searchType}
			</if>
			<if test="MemberId != null and MemberId != ''">
				AND j.member_id = #{MemberId}
			</if>
		</where>
	</select>
	
	
	<!-- 상세조회 -->
	<select id="selectJournalOne" resultType="map" parameterType="int">
		SELECT j.journal_no journalNo, j.title title, j.content content, j.type type
				, j.update_date updateDate, j.create_date createDate
				, f.file_no fileNo, f.file_name fileName, f.original_name originalName
				, m.member_id memberId, m.name name
		FROM journal j
		INNER JOIN journal_file f 
			ON j.journal_no = f.journal_no
		INNER JOIN member m 
			ON j.member_id = m.member_id
		WHERE j.journal_no = #{journalNo};
	</select>
	
	
	
	<!-- 저널 등록 -->
	<insert id="insertJournal" parameterType="com.gd.journal.dto.Journal">
		<!-- 파일등록하기 위해서는 journal_no가 있어야하기 때문에 저장 -->
		<selectKey order="AFTER" keyProperty="journalNo" resultType="int">
			SELECT LAST_INSERT_ID()
		</selectKey>
		
		INSERT INTO journal(
			member_id, title, type, content
		)VALUES(
			#{memberId}, #{title}, #{type}, #{content}
		)
	</insert>
	
	
	
	<!-- 저널파일 등록 -->
	<insert id="insertJournalFile" parameterType="com.gd.journal.dto.JournalFile">
		INSERT INTO journal_file(
			journal_no, file_name, original_name, file_type, file_size
		)VALUES(
			#{journalNo}, #{fileName}, #{originalName}, #{fileType}, #{fileSize}
		)
	</insert>
	
	
	
	<!-- 저널 수정 -->
	<update id="updateJournal" parameterType="com.gd.journal.dto.Journal">
		UPDATE journal
		SET title = #{title}
			, type = #{type}
			, content = #{content}
			, update_date = NOW()
		WHERE journal_no = #{journalNo}
		AND member_id = #{memberId}
	</update>
	
	
	
	<!-- 저널파일 수정 -->
	<update id="updateJournalFile" parameterType="com.gd.journal.dto.JournalFile">
		UPDATE journal_file
		SET file_name = #{fileName}
			, original_name = #{originalName}
			, file_type = #{fileType}
			, file_size = #{fileSize}
			, update_date = NOW()
		WHERE journal_no = #{journalNo}
		AND file_no = #{fileNo}
	</update>
	
	
	
	<!-- 저널 삭제 -->
	<delete id="deleteJournal" parameterType="int">
		DELETE FROM journal
		WHERE journal_no = #{journalNo}
	</delete>
	
	
	
	<!-- 저널파일 삭제 -->
	<delete id="deleteJournalFile" parameterType="int">
		DELETE FROM journal_file
		WHERE journal_no = #{journalNo}
	</delete>
	
	
	
	
	
	
	
</mapper>