<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.journal.mapper.MemberMapper">
	
	<!-- 로그인 -->
	<select id="selectLoginMember" parameterType="String" resultType="map">
		SELECT member_id memberId, name
		FROM member
		WHERE member_id = #{memberId}
		AND member_pw = PASSWORD(#{memberPw})
	</select>
	
	<!-- 회원 정보 조회 -->
	<select id="selectmyPage" parameterType="String" resultType="map">
		SELECT member_id memberId, name, birth
		FROM member
		WHERE member_id = #{memberId}
	</select>
	
	
	<!-- 아이디 중복 체크 -->
	<select id="selectIdDoubleChk" parameterType="String" resultType="String">
		SELECT member_id memberId
		FROM member
		WHERE member_id = #{memberId}
	</select>
	
	<!-- 회원등록 -->
	<insert id="insertMember" parameterType="com.gd.journal.dto.Member">
		INSERT INTO member(
			member_id, member_pw, name, birth
		)VALUES(
			#{memberId}, PASSWORD(#{memberPw}), #{name}, #{birth})
	</insert>
</mapper>