@charset "UTF-8";

.homeSearchDiv{
	text-align: center;
}

.pagingDiv{
	text-align: center;
	margin-top: 3%;
	margin-bottom: 3%;
}

.paging{
	font-style: italic;
	font-size: 1.50rem;
	text-align : center;
	font-weight: bold;
}

.pagingHome{
	margin-left: 10%;
	margin-right: 10%;
	font-style: italic;
	font-size: 1.125rem;
	text-align : center;
	font-weight: bold;
}

.post-preview > a > .post-subtitle > img{
	width: 200px;
	height: 250px;
}

#postFormTb{
	margin-left:auto; 
	margin-right:auto;
}

#postFormTb th{
	height: 50px;
	width: 150px;
}

#postFormTb td{
	width: 400px;
}


/* 모달 */
#modal.modal-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	display: none;
	align-items: center;
	justify-content: center;
	background: rgba(71, 58, 58, 0.50);     
}

#modal .modal-window {
	background: rgba(0, 133, 161, 0.9);
	border-radius: 10px; 
	width: 400px;
	height: 300px;
	position: relative; 
	padding: 10px;
}

#modal .title {
	padding-left: 10px;
	display: inline;
	color: white;
}
        
#modal .title h2 {
	display: inline;
}
        
#modal .close-area {
	display: inline;
	float: right;
	padding-right: 10px;
	cursor: pointer;
	color: white;
}

#modal .content {
	margin-top: 20px;
	padding: 0px 10px;
	color: white;
} 